# Auto detect text files and perform LF normalization
* text=auto
.git/lfs/objects/c6/6d/c66d4381e0106ed1bc3961427cb5369cb87b18dc9529b32462ac0070a18edefb filter=lfs diff=lfs merge=lfs -text
Library/il2cpp_cache/linkresult_7138CF46C0F6A4C31768D82D05EBE3F8/build.bc filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-650f1b6271b4515d10f83a85cc39b353f3bb6d7d.pack filter=lfs diff=lfs merge=lfs -text
